<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="Tetco" value="https://devops.tetco.sa/DefaultCollection/_packaging/tetco/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <Tetco>
        <add key="Username" value="Devops_svc@tetco.sa" />
        <add key="Password" value="Ww@12345" />
    </Tetco>
</packageSourceCredentials>
</configuration>