@using Core.Resources;

@{
    Layout = "~/Views/Shared/Layouts/_Root.cshtml";
}


    @RenderSection("styles", required: false)
 


    <div class="outer-container menu-slider open-right">
        <div class="inner-container ">

            @*-----------  Header -----------*@
            <header class="site-header text-center  mb-0">

                <div class="clearfix"></div>

                <div class="menu-container row align-items-center container mx-auto">

                    <a asp-controller="Home" asp-action="Index" class="col-10 col-md-2 col-sm-8 text-center logos-container pr-0">
                        @*<img class="moe-logo" src="~/Images/Master/logo.svg" />*@
                    </a>
                    <div class="col-2 col-md-10 col-sm-2 order-md-0 order-first p-0">
                        @Html.Partial("~/Views/Shared/_MenuDetails.cshtml")
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>


            </header>




            @*-----------  Content -----------*@
            <div class="container-root">
                @RenderBody()

            </div>
            <div class="body-margin"></div>

            @*-----------  Footer -----------*@

        </div>
        <footer class="tetco-footer  clearfix">
            <div class=" m-0 row">
                <img src="~/images/master/tetco.svg" class="m-auto p-b-20 p-t-10 d-block" width="180"  />
                <span>@*@Resource.TetcoRights*@</span>
            </div>
        </footer>
    </div>
@section scripts{
    @RenderSection("scripts", required: false)
}