@using Core.Resources
<div class="modal fade" id="modal-dialogbills-RepositorySection" style="width:100%" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 100%">
        <div class="modal-content bd-0 tx-14">
            <div class="modal-header pd-x-20">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="float: right;">×</button>
                <h4 class="modal-title tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold"> @Resource.Subject </h4>
                <br /><br />
            </div>
            <div class="modal-body pd-20 tx-right" id="">
                <div class="modal-body pd-20 tx-right">
                    <p class="mg-b-5 break">@Model</p>
                </div>

                @*<div class="panel-body">
                    <div style="background-color: white; padding: 8px" id="">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">

                                    <div class="x_content">
                                        @Model
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>*@
            </div>
        </div>
    </div>
</div>
 