@{
    Layout = "~/Views/Shared/Layouts/_header.cshtml";
}
<body>
    <div class="col-md-12">
        <div class="tx-center py-5 px-5">
            <img class="img-fluid wd-250" src="~/Content/img/svg/403.svg" />
            <h2>403 - ليس لديك صلاحية للوصول إلى تلك الصفحة</h2>
            <div class="mx-auto">
                <a class="btn btn-sm btn-success" href="@Url.Action("Index","Home")">الصفحة الرئيسية</a>
            </div>
        </div>
    </div>
</body>